<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>

    <div>
        <h3>Posts</h3>
        {% for post in posts %}
            id: {{ post.id }}
            title: {{ post.title }}
            content: {{ post.content }}
            <br>
        {% endfor %}
    </div>

    <h3>Create a new post</h3>
    <form action="/posts" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>